$padding: 8px;
$border-size: 2px;
$border: $border-size $color-bg1 solid;
$border-trans: $border-size transparent solid;
$border-dark: $border-size #333 solid;

$track-block-height: 120px;
$track-block-width: 190px;
$track-instrument-height: 100px;

$left-keys-width: 100px;
$keys-height: 50px;
