.loop-options {
    position: relative;
    width: 400px;
    font-size: 0.9em;

    table {
        display: flex;
        align-items: center;
        tbody tr {
            td { padding: 4px 0 }
            td:nth-child(1) { width: 100px }
        }

        .bar-current {
            float: right;
            padding-right: 8px;
        }

        .button-bar {
            display: flex;
            align-items: center;

            .bar-button {
                cursor: default;
                color: $color-bg3;
                width: 38px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px $color-bg3 solid;
                background: rgba(#e3eff3, 0.4);
            }

            &.bar {
                :nth-child(1), :nth-child(2) {
                    font-weight: bold;
                    width: 36px;
                    height: 36px;
                    margin-right: 10px;
                    background: none;
                    font-size: 1em;
                }

                :nth-child(n+4),:last-child {
                    border-left: none;
                }
            }
            &.grid {
                .bar-button {
                    background: none;
                }

                :nth-child(n+1) {
                    border-right: none;
                }

                :nth-last-child(-n+2) {
                    border-right: 1px $color-bg3 solid;
                }

                :last-child {
                    margin-left: 10px;
                    width: 52px;
                }
            }
        }

        .play-mode {
            display: flex;
        }

        .button {
            cursor: default;
            color: $color-bg3;
            border: 1px $color-bg3 solid;
            height: 36px;
            width: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.active {
                background: $color-bg3;
                color: #fff;
            }
        }
    }

}
.song-options {
    display: flex;

    table {
        width: 60px;

        input {
            height: 48px;
            width: 64px;
            border-radius: 8px;
            border: 2px #999 solid;
            font-size: 1em;
            text-align: right;
        }
    }
    .right {
        width: 100px;

        div {
            border: 2px #999 solid;
            border-radius: 8px;
            padding: 8px;
        }

        div:first-child {
            height: 66px;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        div:last-child {
            font-size: 0.9em;
            height: 32px;
            display: flex;
            align-items: center;
        }
    }
}
