
.track-controls {
    display: flex;
    height: calc(100% - 110px);

    .lhs, .rhs {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: $padding;
    }
    .lhs { padding-right: 0 }
    .rhs { padding-left: 0 }

    .track-volume, .track-send {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    }
    .volume, .send {
        flex: 1;
        width: 100%;
        padding: $padding $padding * 2;
    }

    .track-volume .buttons button.active:nth-child(1) { color: #fa0 } // solo
    .track-volume .buttons button.active:nth-child(2) { color: #ff0 } // midi
    .track-send .buttons button.active:nth-child(1) { color: #0ff } // mute
    .track-send .buttons button.active:nth-child(2) { color: #fa0 } // ifx

    .buttons {
        display: flex;
        flex-direction: column;
        padding: 0px 12px;
        align-items: center;

        button {
            margin-bottom: $padding/2;
            font-weight: bold;
            width: 55px; // TODO fix me, 100% isn't working
            padding: 0;
        }
    }
}

.master-track {
    height: calc(100% - 20px);
    padding: 0px 8px 8px 8px;
}
