$color-text: #fff;
$color-bg1: #0e387e;
$color-bg2: #3b78c0;
$color-light: #4880c4;
$color-light2: #5e9cc2;
$color-mid: #2f5d94;
$color-50white: rgba(255,255,255,0.5);
$color-midi-note-velocity: #6ba2af;
$color-midi-note: #8fd8ea;
$color-highlight: #fdcd32;
$color-play: #30a7ff;

$padding: 8px;
$border: 1px $color-bg1 solid;
$border-trans: 1px transparent solid;
$border-dark: 1px #333 solid;

::-webkit-scrollbar { display:none; }

* {
    box-sizing: border-box;
}
#app, html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient($color-bg1, $color-bg2);
    color: $color-text;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.aura {
    display: flex;
    height: 100%;
}

.panel {
    $panel-width: 350px;

    z-index: 100;
    position: fixed;
    height: 100%;
    width: $panel-width;
    right: 0;
    background-image: url('/images/egg-shell.png');
    background-color: #181818;
    box-shadow: inset 1px 0 4px #333;

    transform: translateX($panel-width);
    transition: transform 0.5s ease;
    padding: $padding;

    &.open {
        transform: translateX(0px);
    }
    .close {
        cursor: pointer;
        position: absolute;
        width:32px;
        height:32px;
        top: $padding;
        right: $padding;
        i { font-size: 2em; font-weight: bold }
    }
}

.midi {
    .inputs {
        display: flex;
        flex-direction: column;
        .midi-device {
            flex: 1;
            cursor: pointer;
        }
    }
}

$track-block-height: 120px;
$track-block-width: 200px;
$track-instrument-height: 100px;

$left-keys-width: 100px;
$keys-height: 50px;

.sequencer {
    user-select: none;
    flex:1;
    display: flex;
    flex-direction: column;
    width: 100%;

    .seq-header {
        width: 100%;
        text-align:center;
        height: 32px;
        border-bottom: $border;
        font-size: 1.2em;
        line-height: 1;
        font-weight: bold;
        padding: 4px;
    }

    .song {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow:hidden;

        .track-head.fixed, .instrument.fixed {
            width: $track-block-width;
        }

        .song-header {
            display:flex;
            height: 32px;
            // border-bottom: $border;

            .track-heads {
                display:flex;
                overflow: auto;
            }
            .track-head {
                text-align: center;
                min-width: $track-block-width;
                border-right: $border;
                font-weight: bold;
                line-height: 1.9;
            }
        }

        .song-content {
            display: flex;
            flex: 1;

            .scene-heads {
                border-right: $border;
                min-width: $track-block-width;
                overflow: auto;

                .scene-head {
                    height: $track-block-height;
                    border-bottom: $border;
                    display: flex;

                    &:nth-child(odd) {
                        background-color: rgba($color-bg2, 0.5);
                    }

                    div {
                        flex:1;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        font-size: 2.5em;
                        font-weight: bold;
                        color: rgba(#fff, 0.8);
                    }
                    i {
                        cursor: pointer;
                        flex:1;
                        font-size: 4em;
                        color: rgba($color-play, 0.8);
                        justify-content: center;
                        align-items: center;
                        display: flex;
                    }
                }
                .scene-add {
                    @extend .scene-head;
                    border:none;
                    display: flex;
                    align-items: center;
                    background-color: transparent !important;

                    i {
                        cursor: pointer;
                        flex: 1;
                        text-align: center;
                        font-size: 1.8rem;
                        color: rgba(#fff, 0.8);
                    }
                }
            }
            .loops {
                display: flex;
                overflow: auto;
                flex-direction: column;


                .loop-set {
                    display:flex;
                    min-height: $track-block-height;

                    .loop {
                        text-align: center;
                        min-width: $track-block-width;
                        border-right: $border;
                        border-bottom: $border;
                        &.placeholder {
                            border:none;
                        }
                    }
                }
            }
        }

        .song-footer {
            display: flex;
            flex: 1;
            max-height: 100px;
            border-top: $border;
            background: linear-gradient(#181818 30%, #000);
            color: #999;
            text-shadow: 1px 1px 1px #000;

            .instruments {
                display: flex;
                overflow: auto;
            }
            .instrument {
                text-align: center;
                min-width: $track-block-width;
                border-right: $border-dark;
            }
            .instrument-add {
                @extend .instrument;
                border: none;
                cursor: pointer;

                .outline {
                    margin: 12px;
                    height: calc(100% - 24px);
                    width: calc(100% - 24px);
                    border: 6px dashed rgba(#999, 0.3);
                    border-radius: 22px;
                    justify-content: center;
                    align-items: center;
                    display: flex;

                    i {
                        line-height: 2.2;
                        font-size: 1.8em;
                        color: rgba(#999, 0.75);
                    }
                }
            }
        }
    }

    .instruments-selector {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        overflow: auto;

        .instrument {
            flex: 1;
            min-width: 25%;
            height: 33.33%;
            border: $border;
        }
    }

    .pattern {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow:hidden;

        .pattern-header {
            display:flex;
            height: 64px;
            border-bottom: $border;

            .pattern-control {
                display: flex;
                width: $left-keys-width;
                border-right: $border;
                background: $color-light2;
                font-weight: bold;

                .draw, .select {
                    cursor: pointer;
                    color: $color-bg1;
                    flex: 1;
                    margin: 4px;
                    font-size: 0.7rem;
                    text-align: center;
                    padding-top: 8px;
                    border-radius: 1px;

                    i { font-size: 1.8rem }

                    &.active {
                        background-color: $color-highlight;
                    }
                }
            }

            .bars {
                flex:1;
                display:flex;
                overflow: auto;
                flex-direction: column;
                position: relative;

                .bar-row {
                    display:flex;
                    flex: 1;
                    border-bottom: $border;
                    height: 22px;
                    line-height: 1.8;
                    background: rgba($color-midi-note, 0.7);

                    .bar-range {
                        z-index: 1;
                        position: absolute;
                        background: rgba($color-highlight, 0.7);
                        height: 21px;
                    }

                    .bar {
                        z-index: 2;
                        flex: 1;
                        font-size: 0.8em;
                        border-right: $border;
                        text-align: center;
                        color: $color-bg1;
                        line-height: 1.6;
                    }
                }
                .spacer {
                    height: 20px;
                    background: rgba(119, 158, 204, 0.5);
                }
                .sub-bars-con {
                    width: 100%;
                    overflow: auto;
                    flex: 1;
                }
                .sub-bars {
                    display:flex;

                    .sub-bar {
                        flex: 1;
                        font-size: 0.7em;
                        line-height: 1.6;
                        border-right: 2px #fff solid;
                        padding-left: 4px;
                    }

                    .sub-bar:last-child {
                        border-right: none;
                    }
                }
            }
        }
        .pattern-content {
            display: flex;
            flex: 1;

            .left {
                overflow: auto;
                border-right: $border-trans;
                min-width: $track-block-width;

                &.keys {
                    min-width: $left-keys-width;

                    .note {
                        text-align: center;
                        font-size: 0.8em;
                        border-right: 22px solid rgba(255,255,255, 0.6);
                        margin-top: 1px;
                        background: rgba($color-bg2, 0.3);
                        height: 32px;
                        line-height: 2.6;
                        box-shadow: inset 0 1px 1px $color-light;

                        &.sharp {
                            border-right: 22px solid rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }

            .right {
                overflow: auto;

                .grid {
                    .midi-note { fill: $color-midi-note; }

                    .midi-note-v { fill: $color-midi-note-velocity; }

                    .bar-line {
                        stroke-width: 1;
                        stroke: rgba(255,255,255,0.3);
                    }

                    .bar-sub-line {
                        stroke-width: 1;
                        stroke: rgba(255,255,255,0.1);
                    }

                    .bar-horizontal-line {
                        stroke-width: 1;
                        stroke: rgba(255,255,255,0.15);
                    }
                }
            }
        }
        .pattern-footer {
            display: flex;
            height: 50px;

            .foot-switch {
                border-top: $border;
                border-right: $border;
                min-width: $left-keys-width;
                background: $color-mid;
            }

            .footer-right {
                overflow-y: auto;
                // min modulation height + 5px
                height: 55px;
            }

            .modulation {
                background: #295282; // darken($color-mid, 10%);
                border-top: 3px $color-bg2 solid;
                border-bottom: 3px $color-bg2 solid;

                .bar-line {
                    stroke-width: 3;
                    stroke: $color-bg2;
                }

                .note-vel-circle {
                    stroke-width: 2;
                    stroke: $color-midi-note;
                    fill: $color-midi-note-velocity;
                }
                .note-vel-line {
                    stroke-width: 1;
                    stroke: $color-midi-note;
                }
            }
        }
    }

    .transport-control {
        display: flex;
        color: $color-text;
        background-image: url('/images/egg-shell.png');
        background-color: #181818;
        padding: 4px;
        height: 42px;
        border-top: 1px #333 solid;

        button {
            padding:4px 16px;
            color:#999;
            background: #181818;
            border: 2px #000 solid;
            box-shadow: inset 0 1px 1px #333, 1px 1px 3px rgba(0,0,0,0.7);
            border-radius: 3px;
            outline: none;
            text-shadow: 0 0 2px #000;
            margin-right: 4px;
            height: 32px;
            i { line-height: 0.9 }

            &:active {
                box-shadow: inset 0 1px 1px #000, 0 0 0;
            }

            &.record {
                &.active { color: #ce1d49 }
            }
            &.play {
                &.paused { color: #066 }
                &.active { color: #0ff }
            }

            &.textbtn {
                font-weight: bold;
                padding: 4px 2px;
            }

            &.tempo {
                margin-left: 8px;
                padding: 4px;
            }

            &.function {
                margin-right: 12px;
                &.active {
                    color: #fa0;
                }
            }
        }
    }
}
