$padding: 8px;
$border: 1px #0c1f3f solid;
// $border: 1px transparent solid;

$color-bg1: #0e387e;
$color-bg2: #3b78c0;

$color-highlight: #fdcd32;

::-webkit-scrollbar { display:none; }

* {
    box-sizing: border-box;
}
#app, html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient($color-bg1, $color-bg2);
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.aura {
    display: flex;
    height: 100%;
}

.panel {
    $panel-width: 350px;

    position: fixed;
    height: 100%;
    width: $panel-width;
    right: 0;
    background-image: url('/images/egg-shell.png');
    background-color: #181818;
    box-shadow: inset 1px 0 4px #333;

    transform: translateX($panel-width);
    transition: transform 0.5s ease;
    padding: $padding;

    &.open {
        transform: translateX(0px);
    }
    .close {
        cursor: pointer;
        position: absolute;
        width:32px;
        height:32px;
        top: $padding;
        right: $padding;
        i { font-size: 2em; font-weight: bold }
    }
}

.midi {
    .inputs {
        display: flex;
        flex-direction: column;
        .midi-device {
            flex: 1;
            cursor: pointer;
        }
    }
}

$track-block-height: 120px;
$track-block-width: 200px;
$track-instrument-height: 100px;

$left-keys-width: 100px;
$keys-height: 50px;

.sequencer {
    user-select: none;
    flex:1;
    display: flex;
    flex-direction: column;
    width: 100%;

    .seq-header {
        width: 100%;
        text-align:center;
        height: 32px;
        border-bottom: $border;
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
        padding: 4px;
    }

    .song {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow:hidden;

        .track-head.fixed, .instrument.fixed {
            width: $track-block-width;
        }

        .song-header {
            display:flex;
            height: 32px;
            border-bottom: $border;

            .track-heads {
                display:flex;
                overflow: auto;
            }
            .track-head {
                text-align: center;
                min-width: $track-block-width;
                border-right: $border;
                font-weight: bold;
                line-height: 1.9;
            }
        }

        .song-content {
            display: flex;
            flex: 1;

            .scene-heads {
                border-right: $border;
                min-width: $track-block-width;
                overflow: auto;

                .scene-head {
                    height: $track-block-height;
                    border-bottom: $border;
                }
            }
            .loops {
                display: flex;
                overflow: auto;
                flex-direction: column;


                .loop-set {
                    display:flex;
                    min-height: $track-block-height;

                    .loop {
                        text-align: center;
                        min-width: $track-block-width;
                        border-right: $border;
                        border-bottom: $border;
                    }
                }
            }
        }

        .song-footer {
            display: flex;
            flex: 1;
            max-height: 100px;
            border-top: $border;
            background: linear-gradient(#181818 30%, #000);

            .instruments {
                display: flex;
                overflow: auto;
            }
            .instrument {
                text-align: center;
                min-width: $track-block-width;
                border-right: 1px #333 solid;
            }
        }
    }

    .pattern {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow:hidden;

        .pattern-header {
            display:flex;
            height: 64px;
            border-bottom: $border;

            .pattern-control {
                width: $left-keys-width;
                border-right: $border;
            }

            .bars {
                flex:1;
                display:flex;
                overflow: auto;
                flex-direction: column;

                .bar-row {
                    display:flex;
                    flex: 1;
                    border-bottom: $border;
                    max-height: 22px;
                    line-height: 1.8;

                    .bar {
                        flex: 1;
                        font-size: 0.8em;
                        border-right: $border;
                        text-align: center;
                    }
                }
                .spacer {
                    height: 20px;
                    background: rgba(119, 158, 204, 0.5);
                }
                .sub-bars {
                    flex: 1;
                }
            }
        }
        .pattern-content {
            display: flex;
            flex: 1;

            .left {
                border-right: $border;
                min-width: $track-block-width;
                overflow: auto;
                &.keys {
                    min-width: $left-keys-width;

                    .note {
                        text-align: center;
                        font-size: 0.8em;
                        border-right: 22px solid rgba(255,255,255, 0.8);
                        margin-top: 1px;
                        background: rgba($color-bg2, 0.3);
                        height: 32px;
                        line-height: 2.6;
                        box-shadow: inset 0 1px 1px #4880c4;

                        &.sharp {
                            border-right: 22px solid rgba(0, 0, 0, 0.8);
                        }
                    }
                }
            }
            .right {
                overflow: auto;
            }
        }
        .pattern-footer {
            display: flex;

            .foot-switch {
                border-top: $border;
                border-right: $border;
                width: $left-keys-width;
            }
        }
    }

    .transport-control {
        display: flex;
        color: #fff;
        background-image: url('/images/egg-shell.png');
        background-color: #181818;
        padding: 4px;
        height: 42px;
        border-top: 1px #333 solid;

        button {
            padding:4px 16px;
            color:#999;
            background: #181818;
            border: 2px #000 solid;
            box-shadow: inset 0 1px 1px #333, 1px 1px 3px rgba(0,0,0,0.7);
            border-radius: 3px;
            outline: none;
            text-shadow: 0 0 2px #000;
            margin-right: 4px;
            height: 32px;
            i { line-height: 0.9 }

            &:active {
                box-shadow: inset 0 1px 1px #000, 0 0 0;
            }

            &.textbtn {
                font-weight: bold;
                padding: 4px 2px;
            }

            &.tempo {
                margin-left: 8px;
                padding: 4px;
            }

            &.function {
                margin-right: 12px;
                &.active {
                    color: #fa0;
                }
            }
        }
    }
}
